node_modules
__screenshots__
/*.log
/browser
/coverage
/developer-experience/skills-evaluator-*/**/dist
/developer-experience/skills-evaluator-*/**/.agents
/developer-experience/skills-evaluator-*/**/src
/developer-experience/skills-evaluator-*/**/sandbox
IDEA.md
.vitest-attachments
/tmp